<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img class="logo" src="../assets/images/logo.jpg">
    </a>

    <!-- Hamburger -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <!-- Home -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/">{{ title }}</a>
        </li>
        <!-- ADD job -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/jobs">Offres</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/jobs/add">CréerJob</a>
        </li>
        <!-- about -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">À propos</a>
        </li>
        <li class="nav-item" *ngIf="!authService.userIsLoggedIn()">
          <a class="nav-link" routerLink="/login">se connecter</a>
        </li>
        <li class="nav-item" *ngIf="authService.userIsLoggedIn()">
          <a class="nav-link" routerLink="/profile">profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/" (click)="authService.logout()" *ngIf="authService.userIsLoggedIn()">se déconnecter</a>
        </li>
        <li class="nav-item" *ngIf="!authService.userIsLoggedIn()">
          <a routerLink="/register" class="nav-link">créer un compte</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
