<!-- <p>authentication works!</p> -->

<div class="container" >
  <div class="row" >
    <div class="col-md-6 d-flex flex-column justify-content-center" >
      <form #loginform="ngForm" (ngSubmit)="login(loginform.value)">
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" [(ngModel)]="email" class="form-control" name="email" id="email" aria-describedby="emailHelpId"
            placeholder="abc@mail.com" required>
          <small id="emailHelpId" class="form-text text-muted">email</small>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" [(ngModel)]="password" class="form-control" name="password" id="password" placeholder="" required>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="loginform.form.invalid">Login</button>
      </form>
    </div>
  </div>
</div>