<div *ngIf="decodeToken">
  <br><br>
  {{ decodeToken | json }}
  <br><br>
  <pre>{{ decodeToken | json }}</pre>
  <!-- 
  /** La balise
  englobe le bloc de code JavaScript. Cela signifie que l'indentation, les espaces et les sauts de ligne du code source
  seront respectés lors de l'affichage */

  /** La balise est souvent utilisée pour afficher du code source, des données JSON, des messages de console, etc., de
  manière à ce que la mise en forme soit préservée pour une meilleure lisibilité. */ 
-->
</div>

<div *ngIf="!decodeToken">
  Aucun user trouvé
</div>

<div *ngIf="isAdmin">
  <h2>Profil de {{ decodeToken.name }}</h2>
  Je suis un Admin 
</div>

<div *ngIf="!isAdmin">
  <h2>Profil de {{ decodeToken.name }}</h2>
  Je suis un simple User
</div>

